<section class="login">
  <form class="login__form" novalidate>
    <h1 class="login__title">Вход</h1>
    {{{ loginAuthInput }}}
    {{{ passwordAuthInput }}}
    {{{ submitButton }}}
    <a class="login__link" href="/sign-up">Нет аккаунта?</a>
  </form>
</section>
