{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "no-underscore-dangle": "off",
    "prefer-destructuring": "off",
    "class-methods-use-this": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
