@font-face {
  src: url('/src/fonts/Inter Medium/Inter Medium.woff2') format('woff2'), url('/src/fonts/Inter Medium/Inter Medium.woff') format('woff');
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('/src/fonts/Inter Semi Bold/Inter Semi Bold.woff2') format('woff2'), url('/src/fonts/Inter Semi Bold/Inter Semi Bold.woff') format('woff');
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
}
