<div class="modal modal_type_{{modificator}}">
  <form class="modal__form">
    <h2 class="modal__title">{{title}}</h2>
    {{#if withAuthInputGroup}}
      <div class="modal__content">
        {{{ authInputGroup }}}
      </div>
    {{/if}}
    {{#if withFileInput}}
      <label class="modal__file-label" for="modal__file-input">Выбрать файл на компьютере</label>
      <p class="modal__filename"></p>
      <input class="modal__file-input" id="modal__file-input" type="file" name="image"/>
    {{/if}}
    {{{ button }}}
  </form>
</div>
