@import '../../variables';

.chats-page {
  height: 100%;
  display: flex;

  &__chats {
    height: 100%;
    width: 24%;
    background-color: $background-color_secondary;
    padding: 12px 10px 0;
    box-sizing: border-box;
    overflow: auto;
  }

  &__menu {
    border-bottom: 1px solid $color_input-group;
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add-chat-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__profile-link {
    color: $color_secondary;
    margin: 0;
  }

  &__search-input {
    background: $background-color_search-input;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
  }

    &::placeholder {
      color: $color_secondary;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }

  &__current-chat {
    height: 100%;
    width: 76%;
    background-color: $background-color_main;
    padding: 10px 20px 11px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &__placeholder {
    margin: auto;
    color: $color_secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  &__options-wrapper {
    display: flex;
    align-items: center;
    padding-right: 11px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $color_input-group;
  }

  &__current-chat-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__current-chat-name {
    margin-top: 0;
    margin-bottom: 0;
    color: $color_main;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__options-button {
    background-color: transparent;
    border: none;
    margin-left: auto;
  }

  &__messages {
    padding-top: 48px;
    padding-bottom: 30px;
    box-sizing: border-box;
    height: 100%;
  }

  &__date {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: $color_secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  &__input-wrapper {
    padding: 11px 0;
    box-sizing: border-box;
    margin-top: auto;
    height: 50px;
    background-color: red;
  }
}

.chat {
  padding: 12px 0;
  box-sizing: border-box;
  border-bottom: 1px solid $color_input-group;
  display: flex;

  &_active {
    background-color: $background-color_active-chat;
  }

  &__image {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin-right: 10px;
  }

  &__message-wrapper {
    max-width: 193px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 4px;
    color: $color_main;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__message {
    margin-top: 0;
    margin-bottom: 0;
    color: $color_secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-left: auto;
  }

  &__time {
    margin-top: 0;
    margin-bottom: 0;
    color: $color_secondary;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
  }

  &__counter {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: $color_link;
    border-radius: 50%;
    color: $color_button;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
  }
}
