<section class="error-page">
  <h1 class="error-page__title">{{title}}</h1>
  <p class="error-page__text">{{text}}</p>
  <button class="error-page__link" type="button">Назад к чатам</button>
</section>
