@import 'variables';

// Для страниц, в которых контент по центру
@mixin content_centered {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
