$font-family: 'Inter', arial, sans-serif;

$background-color_main: #FFF;
$background-color_secondary: #FBFBFB;
$background-color_layer: rgb(0 0 0 / 50%);
$background-color_search-input: #EFEFEF;
$background-color_active-chat: #E4EDFD;
$background-color_message: #F8F8F8;

$color_main: #1E1E1E;
$color_secondary: #999;
$color_input: #EAEAEA;
$color_button: #FFF;
$color_link: #3369F3;
$color_error: #FF2F2F;
$color_logout: #F00;
$color_filename: #8D8D8D;
